<!doctype html>
<html>
  <head>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Stream-Sync-Pro</title>
    {% endblock %}
  </head>
  <body class="w-full h-screen justify-between flex flex-col items-center">
    <div class="flex w-full flex-col">
        {% if current_user.is_authenticated%}
            <div class="flex justify-between items-center w-full bg-gray-300 p-1">
                <p class="text-start ml-2 mt-1">Stream-Sync-Pro 📡!</p>
                <a class="underlined text-blue-500" href="/profile.html">Profile</a>
            </div>
        {% endif%}
        <div id="content" class="flex justify-center w-full items-center">{% block content %}{% endblock %}</div>
      </div>
    <div id="footer" class="self-center w-full flex justify-between">
        <div>
        {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
        <div>
          {% block footer %}
          &copy; Copyright 2024 by <a target="_blank" href="https://portfolio-5pu1.vercel.app/" class="underline text-blue-500">Titus</a>.
          {% endblock %}
        </div>
        </div>
  </body>
</html>