{% extends 'base.html' %}


{% block title %}Login {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <form method="POST" action="" class="max-w-md w-full mt-12 md:mt-16">
        <p class="text-start ml-2 mt-1">Welcome to Stream-Sync-Pro 📡!</p>
        <p class="ml-2">Login</p>
        {{ form.hidden_tag() }}
        <div class="w-full">
            {{ form.subject.label(class="px-2 my-1") }}
            {{ form.subject(class="w-full px-2 py-2.5 shadow-sm border-1 border-gry-900 rounded-md", placeholder="Enter your username or email") }}
            {% for error in form.subject.errors %}
                <div class="text-red-500 text-sm mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="w-full">
            {{ form.password.label(class="px-2 my-1") }}
            {{ form.password(class="w-full px-2 py-2.5 shadow-sm border-1 border-gry-900 rounded-md", placeholder="Enter your password") }}
            {% for error in form.password.errors %}
                <div class="text-red-500 text-sm mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        <p>Not registered? <a class="text-blue-500 underline" href="/signup.html">Sign up</a></p>
        <div class="flex items-center justify-between">
            {{ form.submit(class="bg-blue-500 w-full p-2 text-white my-1 rounded-md") }}
        </div>
    </form>
{% endblock %}